.omni-font-xl {
    /* Header PAGE */
    font-family: Roboto, Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    /* 100% */
    letter-spacing: -0.36px;
    text-transform: capitalize;
}

.omni-font-l-medium {
    /* header block library */
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 140% */
    letter-spacing: 1px;
}

.omni-font-m-regular {
    /* Text Chat */
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 150% */
}

.omni-font-m-light {
    /* Text Chat */
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 150% */
}

.omni-font-s-medium {
    /* Button load */
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 133.333% */
}

.omni-font-s-regular {
    /* Text Socket */
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.omni-font-s-regular-mono {
    /* Links */
    font-family: 'Roboto Mono', 'Courier New', monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}